# Accessing Tables from Websites

1. Importing libraries

In [1]:
import pandas as pd
import lxml

2. Loading all tables from the url:-
https://en.wikipedia.org/wiki/List_of_Naruto:_Shippuden_episodes

In [2]:
allTables = pd.read_html('https://en.wikipedia.org/wiki/List_of_Naruto:_Shippuden_episodes')

3. Fining how many tables were loaded

In [3]:
print("Tables Loaded :", len(allTables))

Tables Loaded : 66

4. Accessing Table number 2 and storing in another variable

In [4]:
season1 = allTables[2]
season1.head()

,No.,Title,Directed by,Written by,Original air date,English air date
0,1,"""Homecoming"" Transcription: ""Kikyō"" (Japanese:...",Masaaki Kumagai,Satoru Nishizono,"February 15, 2007","October 28, 2009[a][12]"
1,2,"""The Akatsuki Makes Its Move"" Transcription: ""...",Atsushi Nigorikawa,Satoru Nishizono,"February 15, 2007","October 28, 2009[12]"
2,3,"""The Results of Training"" Transcription: ""Shug...",Yuki Sugihara,Satoru Nishizono,"February 22, 2007","October 28, 2009[12]"
3,4,"""The Jinchuriki of the Sand"" Transcription: ""S...",Kiyomu Fukuda,Satoru Nishizono,"March 1, 2007","October 28, 2009[12]"
4,5,"""The Kazekage Stands Tall"" Transcription: ""Kaz...",Yuki Kinoshita,Satoru Nishizono,"March 15, 2007","November 4, 2009[13]"

5. Understanding the table

In [5]:
season1.tail()

,No.,Title,Directed by,Written by,Original air date,English air date
27,28,"""Beasts: Alive Again!"" Transcription: ""Yomigae...",Kiyomu Fukuda,Satoru Nishizono,"September 13, 2007","March 24, 2010[13]"
28,29,"""Kakashi Enlightened!"" Transcription: ""Kakashi...",Yuki Kinoshita,Satoru Nishizono,"September 27, 2007","March 31, 2010[13]"
29,30,"""Aesthetics of an Instant"" Transcription: ""Shu...",Shigeharu Takahashi,Satoru Nishizono,"September 27, 2007","April 7, 2010[13]"
30,31,"""The Legacy"" Transcription: ""Tsugareyukumono"" ...",Shinji Satou,Satoru Nishizono,"October 18, 2007","April 14, 2010[13]"
31,32,"""Return of the Kazekage"" Transcription: ""Kazek...",Hiroshi Kimura,Satoru Nishizono,"October 25, 2007","April 21, 2010[13]"

In [6]:
season1.describe()

             No.
count  32.000000
mean   16.500000
std     9.380832
min     1.000000
25%     8.750000
50%    16.500000
75%    24.250000
max    32.000000

In [8]:
season1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No.                32 non-null     int64
 1   Title              32 non-null     object
 2   Directed by        32 non-null     object
 3   Written by         32 non-null     object
 4   Original air date  32 non-null     object
 5   English air date   32 non-null     object
dtypes: int64(1), object(5)
memory usage: 1.6+ KB